/* 
// Desktop Stylesheet  */
@media screen and (min-width: 1240px) {
  // Choose a section */
  .choose-section {
    @include flex-start();

    p {
      @include font();
      font-size: 20px;
    }
  }

  .dropbtn-container {
    @include flex-start();
  }

  /* // sections text */
  #select {
    @include flex-start();
    @include font();
    color: $black-color;
    width: 90px;
    height: 70px;
  }

  .grid-wrapper {
    background-color: #000000;
    padding: 5px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
  }

  // url

  .figure {
    position: relative;
    text-align: center;
  }

  .articleImage img {
    object-fit: contain;
    height: 100%;
  }

  .description {
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
  }

  .article-text {
    @include font();
    padding: 10px;

    &:hover {
      background: #4b0082;
    }
  }

  .footer-container {
    @include flex-start();

    p {
      @include font();
      color: #c2c2c2;
      vertical-align: baseline;
    }
  }
}
