// custom styles for mobile

body {
  height: 100%;
  background-color: $black-color;
  color: $main-color;
  font-family: "Open Sans";
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;

  a {
    color: $main-color;
    text-decoration: none;
  }
  @include tablet {
    text-align: left;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;

  img {
    width: 200px;
  }

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.choose-section {
  padding-bottom: 15px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 30px;
  figure {
    position: relative;
  }

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.article-image {
  img {
    grid-column-start: 1;
    object-fit: cover;
    height: 400px;
    width: 100%;
  }
}

.article-text {
  text-align: left;
  grid-column-start: 1;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  padding: 15px 20px;
  &:hover {
    background: rgba(96, 11, 122, 0.5);
  }
}

footer {
  @include tablet {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    justify-content: flex-start;
  }
  p {
    color: #c2c2c2;
  }
}

// // layout styles for tablet
// @media screen and (min-width: 600px) {
//   body,
//   html {
