// grid / flex / referencing headers, paragraphs etc...
// // |– layout/
// |   |– _navigation.scss   // Navigation
// |   |– _grid.scss         // Grid system
// |   |– _header.scss       // Header
// |   |– _footer.scss       // Footer
// |   |– _sidebar.scss      // Sidebar
// |   |– _forms.scss        // Forms

// .container { 

// }
.header {
    width: 20rem;
    height: 3rem;
    margin: 0rem;
}



