
/* 
// Desktop Stylesheet  */
@media screen and (min-width: 1240px) {
    /* // // FORM.SCSS
    // Choose a section */
    .choose-section {
      @include font;
      @include flex;
      font-size: 20px;
    }
    
    /* // sections text */
    #select {
      @include flex;
      @include font;
      color: #000000;
      width: 100px;
      height: 80px;
    }
    
    #grid-container {
      background: #000000;
      padding: 5px;
    }
    
    #main-content {
      height: auto;
      width: 100%;
    }
    
    .figure {
      position: relative;
      text-align: center;
    }
    
    .articleImage img {
      @include grid;
      object-fit: contain;
      height: 100%;
    }
    
    .description {
      @include reset-list;
      background: rgba(0, 0, 0, 0.75);
      position: absolute;
      bottom: 0;
    }
    
    .article-text {
      @include font;
      padding: 10px;
      color: white;
      text-underline-position: white;
    
      &:hover {
        background: #4b0082;
      }
    
      footer {
        font-size: 20px;
        color: #c2c2c2;
        vertical-align: baseline;
        align-content: flex-end;
      }
    